*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #dbeafe, #f0f9ff);
    text-align: center;
    color: #333;
}

header{
    background: #2563eb;
    color: white;
    padding: 40px 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

h1{
    font-size: 42px;
    margin-bottom: 10px;
}

.subtitle{
    font-size: 18px;
}

nav{
    background-color: white;
    padding: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

nav a{
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
    color: #2563eb;
    font-size: 18px;
    transition: 0.3s;
}

nav a:hover{
    color: #1e3a8a;
}

.card{
    background: white;
    width: 80%;
    max-width: 800px;
    margin: 40px auto;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}

.card h2{
    margin-bottom: 20px;
    color: #2563eb;
}

.card p{
    font-size: 18px;
    margin: 15px 0;
    line-height: 1.6;
}

ul{
    list-style-type: none;
    margin-top: 15px;
}

ul li{
    margin: 10px 0;
    font-size: 18px;
}

button{
    margin-top: 25px;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    background: #2563eb;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background: #1e40af;
}
